@model IEnumerable<AIS.Data.Entities.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2 class="title-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Your Tickets</h2>


@if (!Model.Any())
{
    <h4 class="no-items-list">You have no Tickets!</h4>
}
else {
<table class="table">
    <thead>
        <tr>
            <th>
                Flight
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.FlightNumber)
                </td>
                <td>
                    @item.Flight.Origin.City, @item.Flight.Origin.Country
                    <br />
                    <img src="@Url.Content(item.Flight.Origin.ImageUrl)" class="mt-2" alt="Country Flag Image" style="height:5vh; border:solid; border-color: lightgray; border-width: 0.5px" />
                </td>
                <td>
                    @item.Flight.Destination.City, @item.Flight.Destination.Country
                    <br />
                    <img src="@Url.Content(item.Flight.Destination.ImageUrl)" class="mt-2" alt="Country Flag Image" style="height:5vh; border:solid; border-color: lightgray; border-width: 0.5px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seat)
                </td>
                <td>
                    @item.Title @item.FullName
                </td>

                <td class="td-buttons">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mb-2"><i class="fa-solid fa-pen mr-2"></i>Update</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info mb-2"><i class="fa-solid fa-list mr-2"></i>Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can mr-2"></i>Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}