@model IEnumerable<AIS.Data.Entities.FlightRecord>

@{
    ViewData["Title"] = "Flight Records";
}

<h2 class="title-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Flight Records</h2>

@if (!Model.Any())
{
    <hr />
    <h4 class="no-items-list">There are no Flight Records!</h4>
}
else
{
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Flight
                        </th>
                        <th>
                            Origin
                        </th>
                        <th>
                            Destination
                        </th>
                        <th>
                            Departure
                        </th>
                        <th>
                            Arrival
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FlightNumber)
                            </td>
                            <td>
                            <img src="@Url.Content(item.OriginFlagImageUrl)" class="mr-2" alt="Country Flag Image" style="height:2vh; border:solid; border-color: lightgray; border-width: 0.5px" />@item.OriginCity, @item.OriginCountry
                            </td>
                            <td>
                            <img src="@Url.Content(item.DestinationFlagImageUrl)" class="mr-2" alt="Country Flag Image" style="height:2vh; border:solid; border-color: lightgray; border-width: 0.5px" />@item.DestinationCity, @item.DestinationCountry
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Departure)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Arrival)
                            </td>
                            <td>
                                @if (item.Canceled)
                                {
                                    <p>Canceled</p>
                                }
                                else
                                {
                                    @if (item.Departure > DateTime.UtcNow)
                                    {
                                        <p>Scheduled</p>
                                    }
                                    else if (item.Departure <= DateTime.UtcNow && item.Arrival > DateTime.UtcNow)
                                    {
                                        <p>Departed</p>
                                    }
                                    else
                                    {
                                        <p>Completed</p>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
}