@model IEnumerable<AIS.Data.Entities.Flight>

@{
    ViewData["Title"] = "Flights";
}

<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 0 1rem; margin-bottom: 4vh; margin-top: 3.5vh">
    <!-- Button on the left -->
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa-solid fa-plane-departure mr-2"></i>New
    </a>

    <!-- Heading centered -->
    <h2 class="title-text" style="flex: 1; text-align: center; font-weight: bolder; margin: 0; padding-right: 10vh">
        List of Flights
    </h2>
</div>

@if (!Model.Any())
{
    <hr />
    <h4 class="no-items-list">There are no Flights!</h4>
}
else
{
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FlightNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Aircraft)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Origin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Destination)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Departure)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Arrival)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AvailableSeats)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FlightNumber)
                            </td>
                            <td>
                                @item.Aircraft.Id - @item.Aircraft.Model
                            </td>
                            <td>
                                @item.Origin.IATA - @item.Origin.City, @item.Origin.Country
                                <br />
                                <img src="@Url.Content(item.Origin.ImageUrl)" class="mt-2" alt="Country Flag Image" style="height:5vh; border:solid; border-color: lightgray; border-width: 0.5px" />
                            </td>
                            <td>
                                @item.Destination.IATA - @item.Destination.City, @item.Destination.Country
                                <br />
                                <img src="@Url.Content(item.Destination.ImageUrl)" class="mt-2" alt="Country Flag Image" style="height:5vh; border:solid; border-color: lightgray; border-width: 0.5px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Departure)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Arrival)
                            </td>
                            <td>
                                @{
                                    int availableSeats = item.AvailableSeats.Count;
                                    int capacity = item.Aircraft.Capacity;
                                    int occupation = capacity - availableSeats;

                                    // Handle division by zero to avoid runtime errors
                                    decimal availability = (capacity > 0) ? (decimal)availableSeats / capacity * 100 : 0;
                                }
                                @availableSeats / @capacity (@availability.ToString("0")%)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mr-2 mb-2"><i class="fa-solid fa-pen mr-2"></i>Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info mr-2 mb-2"><i class="fa-solid fa-list mr-2"></i>Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can mr-2"></i>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
}